{{ "<!-- portfolio -->" | safeHTML }}
<section>
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.video }}
			{{ if eq .type "vimeo" }}
				<article class="12u 12u$(xsmall) work-item">

				<h2>{{ .title | markdownify }}</h2> <h3>by {{ .artist }}</h3>
				<iframe src="https://player.vimeo.com/video/{{ .id }}?title=0&byline=0&portrait=0" width="1024" height="524" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			{{ end }}
			{{ if eq .type "soundcloud" }}
				<article class="12u 12u$(xsmall) work-item">

				<h2>{{ .title | markdownify }}</h2> <h3>by {{ .artist }}</h3>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .id }}&amp;color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false"></iframe>
			{{ end }}
		</article>
		{{ end }}
	</div>
</section>
