{{ "<!-- portfolio -->" | safeHTML }}
<section>
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.video }}
		<article class="12u 12u$(xsmall) work-item">

			<h2>{{ .title | markdownify }}</h2> <h3>by {{ .artist }}</h3>
<iframe src="https://player.vimeo.com/video/{{ .vimeoid }}?title=0&byline=0&portrait=0" width="1024" height="524" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		</article>
		{{ end }}
	</div>
</section>
